
.top-border{
    width: 364px;
    height: 96px;
    border-top:1px solid #ECEBF1;
}
.notificationItem{
    width: 364px;
    height: 96px;
    display: block;
    font-family: 'Mulish', sans-serif;
    overflow-y: hidden;
}
.notificationItemActive{
    width: 364px;
    height: 96px;
    display: block;
    font-family: 'Mulish', sans-serif;
    background-color: #F0F2FF;
    border-left-style:solid ;
    border-image: linear-gradient(to bottom, rgba(79,51,253,1) 20%, rgba(252,161,25,1))1 100%;
    overflow-y: hidden;
}

.title{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    line-height: 20px;
    font-weight: 650;

    margin:12px 0px 0px 56px
}
.paragraph{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #78758D;
    align-self: stretch;
    margin:4px 0px 0px 56px
}
.dot{
    display: inline-block;
    margin-left: -12px;
    margin-right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: #4F33FD;
}
.date{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    letter-spacing: 0.2px;

    color: #4C485E;
    align-self: stretch;

    margin:4px 0px 0px 56px
}