.notification{
    display: flex;
    clear: both;  
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2px;
}
.notification-header{
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.notification-text{
    width: 200px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
button.close-btn{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    padding: 14px;
    margin-right: 20px;
    background: none;
    cursor: pointer;
    color: black;
    border: none;
}
.success{
    display: flex;
    background: #E8F5E1;
    width: 392px;
    border: 1px solid #96E073;
    .success-img{
        width: 24px;
        height: 24px;
        margin: 26px 22px;
    }
}
.notification-info{
    margin: 16px 0px;
    width: 400px;
}
.error{
    display: flex;
    background: #FFE5E5;
    width: 392px;

    border: 1px solid #FF9393;
    .success-img{
        width: 24px;
        height: 24px;
        margin: 26px 22px;
    }
}
.hidden{
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}