.notification{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.notification-text{
    display: flex;
    float: right;
    clear: both;
    flex-direction: column;
    align-items: flex-end;
}
button.close-btn{
    background: none;
    cursor: pointer;
    color: black;
    border: none;
}
.success{
    background: #E8F5E1;
/* Semantics/Positive/Border */
    padding: 12px 20px;
    gap: 10px;

    width: 392px;
    height: 72px;
    border: 1px solid #96E073;
    .success-img{
        width: 24px;
        height: 24px;
        margin: 10px auto;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}
