.inputFields{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    outline: 0;
    padding-bottom: 8px;
    border-width: 0 0 2px;
    border-color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 10px -26px 50px 0px;
    
    
}
input[name="email"]{
    margin-bottom: 0;
    padding-bottom: 8px;
}
.inputFields:focus{
    outline: none;
}
.imgInsert{
    display: inline-block;
    position:fixed;
    width: 100px;
    height: 140px;
    opacity: 1;
}
.inputPhoto{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px dashed rgba($color: #000000, $alpha: .5);
    border-radius: 999px;
    margin: 45px auto;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}
.inputFile{
    display: inline-block;
    box-sizing: border-box;
    width: 325px;
}

.invalidField{
    border-color: #dc3545;
    background-color: #fff;
}
button.regBtn{
    display: inline-block;
    padding: 14px 20px;
    width: 123px;
    height: 52px;
    color: white;
    box-sizing: border-box;
    background: #000000;
    border-radius: 999px;

}
button.regBtn:disabled{
    background: #C1C1C5;
    border: none;
    color: white;
}
button.backBtn{
    display: inline-block;
    padding: 14px 20px;

    width: 98px;
    height: 52px;
    border: 2px solid #000000;
    border-radius: 990px;
    margin-right: 15px;
    color: #000000;
    background-color: white;
}
.inputText{
    display: inline-block;
    box-sizing: border-box;
    width: 505px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #909095;
}
.required{
    color: red;
}
.emailValid{
    display: block;
    box-sizing: border-box;
    height: 15px;
    font-weight: 400;
    margin: 10px auto 30px auto;
    font-size: 12px;
    line-height: 15px;
    color: #E93333;
}
.selectInput{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    gap: 12px;  
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 8px 0 50px 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
      /* remove arrow */
      -webkit-appearance: none;
      /* add some padding for image */
      padding-right: 15px; 
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 15 15"><path d="M7.33406 6.33586L1.79117 0.792969L0.376953 2.20718L7.33406 9.16429L14.2912 2.20718L12.877 0.792969L7.33406 6.33586Z"></path></svg>');
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
select{
    width: 223px;//treba duvutis
    height: 32px;
    padding-bottom: 8px;
    outline: none;
    
    border-width: 0 0 2px;
    border-color: black;
    background-color: transparent;
    
    cursor: pointer;
}
.lastnameBtn{
    flex-direction: row;
    background: none;
    cursor: pointer;
    color: black;
    border: none;
}

.hidden{
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}
