.admin-wrapper{
    height: calc(100vh - 80px);

    background: #FEFDFF;
}
.pageBody{
    flex-direction: column;
    margin-left: 372px;
}
.dataGrid{
    display: flex;


    width: 1016px;
    height: 1384px;

}
.properties{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1016px;
    height: 48px;
    margin-bottom: 120px;
}
.filterInput{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 440px;
    height: 32px;
}
.filterIcon{
    margin-left: 10px;
}
.setButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-left: 341px;
    width: 169px;
    height: 48px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;


    background: #4F33FD;
    border-radius: 999px;
}
.adminTitle{
    margin-top: 60px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 44px;
}