.paginationContainer {
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.paginationContainer div {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  /* padding: 8px 14px; */
  margin-right: 6px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.previousArrow {
  transform: scale(-1, 1);
  transform-origin: center;
}
.paginationContainer div.active {
  list-style: none;
  border-bottom: 2px solid black;
  transition: 0.001s ease;
}

.paginationContainer div.disabled {
  cursor: default;
  opacity: 0;
}
